<h2>{{ isEdit ? 'Modifier' : 'Ajouter' }} un produit</h2>

<form [formGroup]="productForm" (ngSubmit)="onSubmit()">

  <label>Nom</label>
  <input formControlName="name" type="text" />

  <label>Description</label>
  <textarea formControlName="description"></textarea>

  <label>Prix</label>
  <input formControlName="price" type="number" />

  <label>Image</label>
  <input type="file" (change)="onFileChange($event)" />

  <!-- 🔥 Preview -->
  <div *ngIf="previewUrl" class="preview">
    <img [src]="previewUrl" alt="preview" width="150" />
  </div>

  <button type="submit">
    {{ isEdit ? 'Mettre à jour' : 'Ajouter' }}
  </button>
</form>
