<nav style="padding: 15px; background: #f4f4f4; margin-bottom: 20px;">
  <a routerLink="/home" style="margin-right: 15px;">Accueil</a>
  <a routerLink="/products" style="margin-right: 15px;">Produits</a>
  <a routerLink="/contact" style="margin-right: 15px;">Contact</a>
  <a routerLink="/admin">Admin</a>
</nav>

<!--
<h1>Madina Quincaillerie</h1>
<p>Connexion Supabase : {{ status }}</p>

<button (click)="addDummyProduct()">Ajouter un produit test</button>

<hr /> 
-->

<!-- Affichage des pages via le router -->
<router-outlet></router-outlet>
